@import "~normalize.css";
@import "roboto.css";

$border: 1px solid #ccc;
$myColor: pink;

.box {
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;
  h2 {
    text-align: center;
    color: $myColor;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.logo {
  background-image: url('../assets/webpack-logo.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.code2 {
  color: gray;
}